@import 'base.css';

.file {
  margin-top: 20px;
  padding: 10px;
  width: max-content;
  display: flex;
  align-content: center;
  justify-content: center;
  word-break: revert;
  background: var(--gray-400);
  border-radius: 8px;
  position: relative;

  video {
    height: 100%;
  }

  &-remove {
    position: absolute;
    right: -5px;
    top: -5px;
    width: 15px;
    height: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    background: var(--danger);
    color: var(--white);
    cursor: pointer;
  }
}

.photo {
  width: 40px;
  height: 40px;

  img {
    width: 40px;
    object-fit: cover;
    border-radius: 8px;
    height: 40px;
  }
}

:root {
  --primary: #0d6efd;
  --white: white;
  --gray-400: #d1d5db;
  --gray-300: #F4F5F7;
  --black: #263238;
  --danger: #ee4040;
}